/*********** ROOT AND BODY STYLE ************/
:root {
    /* Colors */
    --dark-violet: hsl(252, 100%, 12%);
    --flourescent-blue: hsl(178, 100%, 49%);
    --space-cadet: hsl(247, 43%, 20%);
    --heliotrope-gray: hsl(254, 15%, 70%);
    --blue-ryb: hsl(221, 100$, 50%);
    --white: hsl(0, 0%, 100%);

    --gradient: linear-fgradient(to right, var(--flourescent-blue), var(--blue-ryb));
    --ff-josefin: 'Josefin sans', sans-serif;
    margin: 0 auto;
    text-align: center;

}


body {
    background-color: hsl(252, 100%, 12%);
    color: white;
}

/************ NAVBAR STYLE *********************/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: sans-serif;
    /* overflow-x: scroll; */
}

.nav-logo{
    width: 50px;
    height: 50px;
}

nav .title {
    font-size: 1rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

.nav-nav {
    display: flex;
    flex-direction: row;
    height: 50%;
}


nav .menu {
    display: flex;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;

}

/* nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;

} */

/**************** HOME ********************/
/* .homeImg {
    margin: 15px;
    margin-bottom: 30px;
    color: white;
    font-family: sans-serif;
    background-size: cover;
    height: 700px;
    margin: 10px;
    border-radius: 20px;
}  */

/************ FOR CARDS AND GRID **********/
.img {
    width: 50%;
    border-radius: 10px;
    /* position: relative;
    left: 65px; */

}

.card-items {
    background: var(--dark-violet);
    color: white;
    font-family: sans-serif;
    padding: 20px;
}

.title-control {
    margin-top: 3px;

}

.season-control {
    padding: 0.2px;
    margin-top: 5px;
}



/*********** FILTER AND SORT STYLE ************/
#filerCtriteria input {
    border-radius: 5px;
    width: 250px;
    height: 40px;

}

.sort-order select {
    border-radius: 5px;
    width: 200px;
    height: 40px;

}

.audioControl {
    width: 500px;
    height: 100px;
    background-color: gray;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.filter-sort {
    font-family: sans-serif;
    margin-left: 5px;
    padding: 10px;

}

.filter-value {
    height: 40px;
}

#filterValue {
    height: 35px;
    margin: 3px;
    width: 170px;
}

.historybutton {
    color: #1976d2;
    width: 70px;
    height: 30px;
    font-family: sans-serif;
    border-radius: 5px;
    background-color: transparent;
    border-color: rgba(25, 118, 210, 0.5);
    margin-right: 3px;
    transition-property: background-color, box-shadow, border-color, color;
}

.Favs {
    color: #1976d2;
    width: 80px;
    height: 30px;
    font-family: sans-serif;
    border-radius: 5px;
    background-color: transparent;
    border-color: rgba(25, 118, 210, 0.5);
}

.filter-button {
    padding: 2px;
    margin: 2px;
    background-color: #810f77;
    cursor: pointer;
    border-radius: 5px;
    /* border: white; */
    border-color: white;
    height: 30px;
}

/********** SEASONS AND EPISODES STYLE  ************/

.happySeasons {
    width: 10%;
    border-radius: 5px;
}

.news-letter {
    color: #639;
}

/***************** FORM AND FOOTER STYLE *****************/

.page-footer {
    background: hsl(252, 26%, 74%);
    color: white;
}

* {
    box-sizing: border-box;
}

.form-container {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
}

.form--input {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

.form--submit {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #810f77;
    border: none;
    cursor: pointer;
}

.form--marketing {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.form--marketing>input {
    margin-right: 10px;
}


/**********CAROUSEL STYLE***************/

.carousel-item {
    padding: 20px;
    font-family: sans-serif;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.carousel-img {
    padding: 3px;
    border-radius: 25px;
    width: 70%;

}

.carousel-container {
    margin: 20px auto;
    /* width: 80%; */
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.carousel-item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.carousel-item:hover img {
    transform: scale(1.05);
}


/********* SEARCH STYLE ************/
.SearchButton {
    display: flex;
    align-items: center;
    margin-top: 1rem;

}

.searchInput {
    height: 30px;
    width: 30%;
}

.search-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    width: 80%;

}

.search-button {
    background-color: #810f77;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 16px;
    width: 30%;

}

.search-bar {
    width: 90%;

}
/***************FOR RESPONSIVENESS****************/
@media (max-width:480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    /* .homeImg {
        height: 200px;
    } */

    .form-container {
        height: 505;
    }

    .nav {
        width: auto;

    }

    .nav .menu {
        height: 30%;
    }

    .search-input {
        width: 80px;
        height: 30px;
    }

    .search-button {
        height: 30px;
        width: 80px;

    }


    .SearchButton {
        overflow: hidden;
    }

}

@media(max-width:800px) {

    nav ul li a {
        font-size: 70%;
    }
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.4rem;
    margin: 0.0rem;
    border-radius: 0.5rem;
    font-size: 100%;

}

nav ul li a:not(.active):hover {
    background-color: #a5a6a626;

}

.nav-logo {
    width: 30%;
    padding-top: 10px;
    height: 80%;
}

.nav-nav {
    height: 70px;
    width: 100%;
}

.searchInput {
    height: 25px;
    width: 40%;
}

.search-button {
    height: 25px;
    padding-top: 2px;
    margin: 1px;
    width: 40%;
}

.search-bar {
    padding-top: 10px;
}