/* .App{
    background-color: hsl(252, 100%, 12%);
    height: 100vh;
    width: 100%;
} */

:root {
    /* Colors */
    --dark-violet: hsl(252, 100%, 12%);
    --flourescent-blue: hsl(178, 100%, 49%);
    --space-cadet: hsl(247, 43%, 20%);
    --heliotrope-gray: hsl(254, 15%, 70%);
    --blue-ryb: hsl(221, 100$, 50%);
    --white: hsl(0, 0%, 100%);

    --gradient: linear-fgradient(to right, var(--flourescent-blue), var(--blue-ryb));
    --ff-josefin: 'Josefin sans', sans-serif;
    max-width: max-content;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.active{
    background-color: purple;
}
body {
    background-color: hsl(252, 100%, 12%);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    position: sticky;
    top: 0;
}
nav .title{
   font-size: 1.5rem;
   margin: 1rem;
   font-weight: bold;
   text-decoration: none;
   color: white; 
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
 nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0.0rem;
    border-radius: 0.5rem;
 }
nav ul li a:not(.active):hover{
    background-color:#a5a6a6;

}

.home {
    margin-bottom: 50%;
    background: hsl(252, 100%, 12%);
    color: white;
}

.img {
    width: 40%;
    border-radius: 10px;
}

.card-items {
    background: var(--dark-violet);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.page-footer {
    background: hsl(252, 100%, 12%);
    color: white;

}
.App{
    height: 100%;
    width: 100%;
}