:root {
      /* Colors */
      --dark-violet: hsl(252, 100%, 12%);
      --flourescent-blue: hsl(178, 100%, 49%);
      --space-cadet: hsl(247, 43%, 20%);
      --heliotrope-gray: hsl(254, 15%, 70%);
      --blue-ryb: hsl(221, 100$, 50%);
      --white: hsl(0, 0%, 100%);
      
      --gradient: linear-fgradient(to right, var(--flourescent-blue), var(--blue-ryb));
      --ff-josefin: 'Josefin sans', sans-serif;
      max-width:max-content;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .img{
    width: 40%;
    border-radius: 10px;
  }

  .card-items{
    background: var(--dark-violet);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

.body{
   background: hsl(252, 100%, 12%);
    color: white;
    width: max-content;
}
.page-footer{
  background:  hsl(252, 100%, 12%);
  color: white;
 
}
.home{
  margin-bottom: 50%;
  background:  hsl(252, 100%, 12%);
color: white;
}